:80 {
    # Imposta la cartella dove sono i file statici
    root * /srv

    # Comprime i file per renderli più veloci
    encode gzip

    # Serve i file. Se il file non esiste, rimanda a index.html (fondamentale per React)
    file_server
    try_files {path} /index.html
}